<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Kwanifi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="h-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-12 col-lg-10">
                <%= yield %>

            </div>
        </div>
    </div>
</body>

</html>